<%- include('layouts/header.ejs') -%>


    <div class="col-md-12 text-center">
       <h1>Forbidden</h1>
       <br>
       <p>SALAD-BOWL ne gère pas plusieurs onglets en même temps, veuillez retourner sur l'onglet principal</p>
       <br>
       <p><i>Si cet onglet est votre seul onglet, veuillez nous excuser et redémarrer votre navigateur.</i></p>
    </div>


<%- include('layouts/footer.ejs') -%>