<%- include('layouts/header.ejs') -%>


    <div class="col-md-12 text-center">
       <h1>A VOUS !</h1>
       
       <br>
       <a href="/play"><button type="button" class=" btn btn-block mybtn btn-success tx-tfm">OK</button></a>
       <br>
    </div>


<%- include('layouts/footer.ejs') -%>
